.checkout-payment__secondary-method{ class: step.gift_card? ? 'checkout-payment__secondary-method--visible' : nil }

  - if step.gift_card?
    .message.message--info
      %p.message__type
        %span.message__icon= t('workarea.storefront.messages.info')
      %p.message__text
        #{t('workarea.storefront.gift_cards.balance', amount: number_to_currency(step.gift_card_balance))}
        #{t('workarea.storefront.gift_cards.applied_to_order', amount: number_to_currency(step.gift_card_amount))}

        - if step.tender_required?
          #{t('workarea.storefront.gift_cards.tender_required_html', amount: number_to_currency(step.order_balance))}
        - else
          #{t('workarea.storefront.gift_cards.place_order', amount: number_to_currency(step.gift_card_amount))}

  = optional_field(t('workarea.storefront.gift_cards.enter_gift_card_prompt'), step.gift_cards, step.failed_gift_card) do

    %h2= t('workarea.storefront.gift_cards.gift_card')

    = form_tag checkout_gift_cards_path, method: 'patch', id: 'gift_card_form', class: 'inline-form' do

      .inline-form__cell
        .value
          = text_field_tag 'gift_card_number', step.failed_gift_card&.number, class: 'text-box', autocomplete: 'off', title: t('workarea.storefront.gift_cards.gift_card_number'), placeholder: t('workarea.storefront.gift_cards.gift_card_number')
          - if step.failed_gift_card && step.failed_gift_card.errors[:number].present?
            %span.value__error= step.failed_gift_card.errors[:number].first
      .inline-form__cell
        = button_tag t('workarea.storefront.gift_cards.apply_gift_card'), value: 'apply_gift_card', class: 'button button--full-width'

  .applied-gift-cards
    - step.gift_cards.each do |gift_card|
      %p.applied-gift-card
        %strong.applied-gift-card__number= gift_card.display_number
        = link_to t('workarea.storefront.gift_cards.remove'), checkout_gift_cards_path(gift_card_id: gift_card.id), data: { method: :delete, confirm: t('workarea.storefront.gift_cards.remove_confirmation') }, class: 'applied-gift-card__remove-link'
        %br
        %span.applied-gift-card__applied= t('workarea.storefront.gift_cards.balance_applied_html', amount: number_to_currency(gift_card.amount), balance: number_to_currency(gift_card.balance))
