- if share_url.present?
  %ul.share-buttons
    - if share_url.present?
      %li.share-buttons__item
        = link_to "https://www.facebook.com/sharer/sharer.php?#{facebook_query_string(share_url)}", class: 'share-buttons__button', title: t('workarea.storefront.shares.share_on_facebook'), target: '_blank', data: { popup_button: '', analytics: share_analytics_data('facebook', share_url).to_json } do
          = inline_svg('workarea/storefront/icons/facebook.svg', class: 'share-buttons__icon')
      %li.share-buttons__item
        = link_to "https://twitter.com/intent/tweet?#{twitter_query_string(share_url, message)}", class: 'share-buttons__button', title: t('workarea.storefront.shares.share_on_twitter'), target: '_blank', data: { popup_button: '', analytics: share_analytics_data('twitter', share_url).to_json } do
          = inline_svg('workarea/storefront/icons/twitter.svg', class: 'share-buttons__icon')
      %li.share-buttons__item
        = link_to "https://pinterest.com/pin/create/button/?#{share_query_string(share_url, message, local_assigns[:image])}", class: 'share-buttons__button', title: t('workarea.storefront.shares.share_on_pinterest'), target: '_blank', data: { popup_button: '', analytics: share_analytics_data('pinterest', share_url).to_json } do
          = inline_svg('workarea/storefront/icons/pinterest.svg', class: 'share-buttons__icon')
    - if message.present?
      %li.share-buttons__item
        = link_to new_share_path(url: share_url, title: message), class: 'share-buttons__button', rel: 'nofollow', title: t('workarea.storefront.shares.share_by_email'), data: { dialog_button: '', analytics: share_analytics_data('email', share_url).to_json } do
          = inline_svg('workarea/storefront/share/icons/email.svg', class: 'share-buttons__icon')
